[workspace]
resolver = "2"
members = [
    "src-tauri",
]

[workspace.package]
version = "0.2.1"
edition = "2021"
authors = ["Daniels"]
license = "MIT"

[workspace.dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"
thiserror = "1"

